* {
  margin: 0;
  padding: 0;
}

#br-generator {
  --turquoise: #4ecac2;
  --turquoise-hover: #6aada9;
  --pink: #e14d9c;
  --pink-hover: #953166;
  --dark-grey: #434343;
  --light-grey: #eeeeee;
  --medium-grey: #666666;
  --heading-size: 1.5em;
  --para-size: 1.1em;
  --monospace: 'Courier 10 Pitch', Courier, monospace;
  --sans-serif: 'Roboto', sans-serif;

  width: calc(100% + 50px);
  width: auto;
  margin: 1em 0 0;
  font-size: var(--font-size);
  font-family: var(--sans-serif);
  box-sizing: border-box;
}

#br-generator .br-square {
  position: relative;
  height: 0;
  padding-top: 100%;
  width: 100%;
}

#br-generator .background {
  background-color: var(--turquoise);
  box-shadow: 0px 0px 5px 0px rgb(106, 173, 169);
  border-radius: 20px;
  padding: 15px;

  top: 0;
  left: 0;
  box-sizing: border-box;
}

#br-generator .br-square .background {
  height: 100%;
  position: absolute;
}

#br-generator .background.page {
  border-radius: 0px;
  min-height: 100vh;
  background: var(--dark-grey);
  position: static;

  width: calc(100% + 50px);
  margin: 0 -25px;
}

#br-generator > .background.start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
  /* position: static; */
}

#br-generator .br-left-col {
  width: auto;
  max-width: 100px;
  margin-right: 20px;
}

#br-generator .br-left-col > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#br-generator .br-right-col {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
}

#br-generator .br-start-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}

#br-generator img {
  width: 100%;
}

#br-generator .br-para,
#br-generator .br-answers .br-chosen {
  font-size: var(--para-size);
}

#br-generator .br-answers button.br-para {
  width: 100%;
}

#br-generator .br-answers .br-para,
#br-generator .br-answers .br-chosen {
  font-size: 0.6em;
}

#br-generator .br-heading {
  font-size: var(--heading-size);
  text-align: left;
}

#br-generator .background .application-final {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#br-generator .background .application-final > p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}

#br-generator .background .application-final > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
}

#br-generator .br-final-output {
  background: var(--light-grey);
  padding: 1.5rem;
  margin: 1rem -25px;
  font-family: var(--monospace);
  width: calc(100% + 50px);
}

#br-generator ol ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#br-generator .br-final-output p {
  margin: 1rem 0;
}

#br-generator .br-button-pink,
#br-generator .br-button-pink:focus {
  background: var(--pink);
  padding: 10px 20px;
  margin: 1em auto 0 0;
}

#br-generator .application-final .br-button-pink {
  margin: 0 auto;
}

#br-generator .br-button-pink:hover {
  background: var(--pink-hover);
}

#br-generator .br-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#br-generator .br-arrows button,
#br-generator .br-arrows button:focus {
  width: 40%;
  background: var(--turquoise);
}

#br-generator .br-arrows button:hover {
  background: var(--turquoise-hover);
}

#br-generator .br-arrows svg {
  width: 1rem;
  fill: white;
}

#br-generator .br-arrows .br-arrow-left svg {
  transform: rotate(-90deg);
}

#br-generator .br-arrows .br-arrow-right svg {
  transform: rotate(90deg);
}

#br-generator button {
  background: var(--medium-grey);
  border: 0;
  color: white;
  font-size: var(--font-size);
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  font-family: var(--font-family);
}

#br-generator button:hover {
  background: var(--pink);
}

#br-generator button:focus {
  background: var(--medium-grey);
}

#br-generator button.br-chosen {
  background: var(--pink);
}

#br-generator .br-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#br-generator .br-status span:nth-child(1) {
  font-weight: 700;
}

#br-generator .br-status span:nth-child(2) {
  font-weight: 700;
}

#br-generator .application-final form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  margin-top: 0;
}

#br-generator .br-warning {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
}

#br-generator .MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--pink);
}

#br-generator .bullet-points {
  margin-left: 3rem;
}

#br-generator summary {
  cursor: pointer;
  display: block;
  padding: 5px;
  border-radius: 5px;
}

#br-generator summary:hover {
  background: #c5c2c2;
}

@media (min-width: 768px) {
  #br-generator {
    --font-size: 1.1rem;
    height: auto;
  }

  #br-generator .br-square {
    margin: auto;
    padding-top: 0;
    height: 100%;
  }

  #br-generator .br-square .background {
    height: auto;
    position: static;
  }

  #br-generator .background,
  #br-generator .background.start #br-generator .background.end {
    /* max-width: 788px; */
    width: 100%;
    margin: auto;
    position: static;
  }

  #br-generator .background.start,
  #br-generator .br-start-title {
    text-align: left;
  }

  #br-generator .br-left-col {
    max-width: 100%;
  }

  #br-generator .br-left-col img {
    height: 150px;
    margin: 1rem 0;
    width: auto;
    border-radius: 11px;
  }

  #br-generator .br-answers .br-para,
  #br-generator .br-answers .br-chosen {
    font-size: 0.8em;
    width: 100%;
  }
}
