* {
  margin: 0;
  padding: 0;
}

#br-application-generator {
  --turquoise: #4ecac2;
  --turquoise-hover: #6aada9;
  --pink: #e14d9c;
  --pink-hover: #953166;
  --dark-grey: #434343;
  --light-grey: #eeeeee;
  --medium-grey: #666666;
  --heading-size: 1.5em;
  --para-size: 1.1em;
  --monospace: 'Courier 10 Pitch', Courier, monospace;
  --sans-serif: 'Roboto', sans-serif;

  width: 100%;
  margin: auto;
  font-size: var(--font-size);
  font-family: var(--sans-serif);
  box-sizing: border-box;
}

#br-application-generator .br-square {
  position: relative;
  height: 0;
  padding-top: 100%;
  width: 100%;
}

#br-application-generator .br-application-background {
  background-color: var(--turquoise);
  border-radius: 50px;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

#br-application-generator .br-square .br-application-background {
  height: 100%;
}

#br-application-generator .br-application-background.page {
  border-radius: 0px;
  min-height: 100vh;
  background: var(--dark-grey);
  position: static;
}

#br-application-generator .br-application-background.start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#br-application-generator .br-left-col {
  flex: 1;
  margin-right: 1rem;
}

#br-application-generator .br-left-col > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#br-application-generator .br-right-col {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
}

#br-application-generator .br-start-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}

#br-application-generator img {
  width: 100%;
}

#br-application-generator .br-para,
#br-application-generator .application-answers .br-chosen {
  font-size: var(--para-size);
}

#br-application-generator .application-answers .br-para,
#br-application-generator .application-answers .br-chosen {
  font-size: 0.8em;
}

#br-application-generator .br-heading {
  font-size: var(--heading-size);
  text-align: left;
}

#br-application-generator
  .br-application-background
  .application-final {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#br-application-generator
  .br-application-background
  .application-final
  > p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: white;
}

#br-application-generator
  .br-application-background
  .application-final
  > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
}

#br-application-generator .br-final-output {
  background: var(--light-grey);
  padding: 1rem;
  margin: 1rem 0;
  font-family: var(--monospace);
}

#br-application-generator .br-final-output p {
  margin: 1rem 0;
}

#br-application-generator .br-button-pink,
#br-application-generator .br-button-pink:focus {
  background: var(--pink);
  padding: 10px 20px;
  margin: 1em auto 0 0;
}

#br-application-generator .application-final .br-button-pink {
  margin: 0 auto;
}

#br-application-generator .br-button-pink:hover {
  background: var(--pink-hover);
}

#br-application-generator .br-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#br-application-generator .br-arrows button,
#br-application-generator .br-arrows button:focus {
  width: 40%;
  background: var(--turquoise);
}

#br-application-generator .br-arrows button:hover {
  background: var(--turquoise-hover);
}

#br-application-generator .br-arrows svg {
  width: 1rem;
  fill: white;
}

#br-application-generator .br-arrows .br-arrow-left svg {
  transform: rotate(-90deg);
}

#br-application-generator .br-arrows .br-arrow-right svg {
  transform: rotate(90deg);
}

#br-application-generator button {
  background: var(--medium-grey);
  border: 0;
  color: white;
  font-size: var(--font-size);
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  font-family: var(--font-family);
}

#br-application-generator button:hover {
  background: var(--pink);
}

#br-application-generator button:focus {
  background: var(--medium-grey);
}

#br-application-generator button.br-chosen {
  background: var(--pink);
}

#br-application-generator .application-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#br-application-generator .application-status span:nth-child(1) {
  font-weight: 700;
}

#br-application-generator .application-status span:nth-child(2) {
  font-weight: 700;
}

#br-application-generator .application-final form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

#br-application-generator .br-warning {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
}

#br-application-generator .MuiCheckbox-colorSecondary.Mui-checked {
  color: var(--pink);
}

@media (min-width: 768px) {
  #br-application-generator {
    --font-size: 1.1rem;
    margin: auto;
    height: auto;
  }

  #br-application-generator .br-square {
    margin: auto;
    padding-top: 0;
    height: 100%;
  }

  #br-application-generator .br-square .br-application-background {
    height: auto;
    position: static;
  }

  #br-application-generator .br-application-background,
  #br-application-generator
    .br-application-background.start
    #br-application-generator
    .br-application-background.end {
    max-width: 788px;
    width: 100%;
    margin: auto;
    position: static;
  }

  #br-application-generator .br-application-background.start,
  #br-application-generator .br-start-title {
    text-align: left;
  }

  #br-application-generator .br-right-col .br-gif {
    display: flex;
    justify-content: center;
  }

  #br-application-generator .br-right-col img,
  #br-application-generator .br-left-col img {
    height: 150px;
    margin: 1rem 0;
    width: auto;
  }

  #br-application-generator .application-answers .br-para,
  #br-application-generator .application-answers .br-chosen {
    font-size: var(--font-size);
  }
}
